#app{
  padding-bottom: 60px;
  min-height: 100vh;
  box-sizing: border-box;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  .text-muted{
    margin: 20px 0;
  }
}